In [1]:
import pandas as pd
import numpy as np

In [2]:
old_method = pd.read_csv('source/FAOSTAT_calorie_supply.csv')
old_method.head()

,Domain,Area,Element,Item,Year,Unit,Value
0,Food Balances (old methodology and population),World,Food supply (kcal/capita/day),Grand Total,1961,kcal/capita/day,2196
1,Food Balances (old methodology and population),World,Food supply (kcal/capita/day),Grand Total,1962,kcal/capita/day,2243
2,Food Balances (old methodology and population),World,Food supply (kcal/capita/day),Grand Total,1963,kcal/capita/day,2254
3,Food Balances (old methodology and population),World,Food supply (kcal/capita/day),Grand Total,1964,kcal/capita/day,2287
4,Food Balances (old methodology and population),World,Food supply (kcal/capita/day),Grand Total,1965,kcal/capita/day,2310

In [3]:
new_method = pd.read_csv('source/FAOSTAT_calorie_supply_new.csv')
new_method.head()

,Domain,Area,Element,Item,Year,Unit,Value
0,New Food Balances,World,Food supply (kcal/capita/day),Grand Total,2014,kcal/capita/day,2893
1,New Food Balances,World,Food supply (kcal/capita/day),Grand Total,2015,kcal/capita/day,2899
2,New Food Balances,World,Food supply (kcal/capita/day),Grand Total,2016,kcal/capita/day,2904
3,New Food Balances,World,Food supply (kcal/capita/day),Grand Total,2017,kcal/capita/day,2919
4,New Food Balances,World,Food supply (kcal/capita/day),Grand Total,2018,kcal/capita/day,2927

In [4]:
tidy_dict = {
    'type' : np.append(old_method['Item'].values, new_method['Item'].values),
    'year' : np.append(old_method['Year'].values, new_method['Year'].values),
    'kcal_capita_day' : np.append(old_method['Value'].values, new_method['Value'].values)
}
tidy_df = pd.DataFrame(tidy_dict)
tidy_df.head()

          type  year  kcal_capita_day
0  Grand Total  1961             2196
1  Grand Total  1962             2243
2  Grand Total  1963             2254
3  Grand Total  1964             2287
4  Grand Total  1965             2310

In [5]:
sorted_df = tidy_df.sort_values(by='year')
sorted_df.to_csv('processed/FAOSTAT_calorie_supply.csv')